@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Spicy+Rice&display=swap');


@font-face {
    font-family: "hell";
    src: url(./Durer.otf);
}

@font-face {
    font-family: "harmony";
    src: url(./Gilroy-SemiBold.f3ed44cd.ttf);
}

@font-face {
    font-family: "NeueD";
    src: url(./NeueHaasDisplay-Mediu.ttf);
}

@font-face {
    font-family: "Mic";
    src: url(./Michroma-Regular.ttf);
}

@font-face {
    font-family: "NeueR";
    src: url(./NeueHaasDisplay-Roman.ttf);
}

@font-face {
    font-family: "Italian";
    src: url(./Italianno-Regular.ttf);
}

@font-face {
    font-family: "Absans";
    src: url(./absans-regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    /* overflow-x: unset; */
    /* pointer-events: none; */
}

body{
    overflow-x: hidden;
}

.main{
    background-color: #151515;
}

.loader{
    background-color: #1E1E1E;
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    top: 0;
    transition: all ease-in 0.5s;
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
    justify-content: center;
    align-items: center;
}

#landing-svg path{
    fill: transparent;
    stroke: white;
    stroke-width: 0.7;
    stroke-dasharray: 1500px;
    stroke-dashoffset: 1500px; 
    animation: tB 5s ease-in-out forwards 1s;
    

}

@keyframes tB {
50%{
    fill: transparent;
}
  100% {
        stroke-dashoffset: 0;
        fill: white;
        transition: all ease-in 0.5s;
    }
    
}

.loader p{
    font-family: mic;
    color: white;
    font-size: 2.5vw;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2vw;
}

.landing{
    height: 100vh;
    background-color: #151515;
    
    overflow: hidden;
    position: relative;
}

.main{
    /* background-color: black; */
}

.spline{
    width: 100%;
    height: 100%;
    transform: translate(22%, -20%) scale(1.5);
    position: absolute;
}

nav{
    padding: 0 5vw;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #151515;
}

.nav-left p{
    color: #B4B5BE;
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    z-index: 10;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.nav-left p:hover{
    color: white;
    cursor: pointer;
    border-bottom: 1px solid white;
    transition: all ease 0.7s;
}

nav ul{
    min-width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color: #B4B5BE;
    gap: 8vw;
    position: relative;
    z-index: 10;
}

nav ul a{
    text-decoration: none;
    color: #D5D5DA;
}


nav li:hover{
    color: rgb(255, 255, 255);
    transition: all ease 0.7s;
    border-bottom: 1px solid white;
}

.hero{
    width: 100%;
    background: transparent;
    height: 60vh;
    position: absolute;
    top: 21%;
    padding-left: 4vw;
}

.reveal h1{
    cursor: pointer;
    font-size: 11.5vw;
    position: relative;
    z-index: 99;
    font-family: Harmony;
    font-weight: 700;
    transform: translateY(110%);
    color: transparent;
    background: linear-gradient(to right,#fc72ff,#8f68ff, #487bff, #8f68ff, #fc72ff );
    -webkit-background-clip: text;
    animation: grad-anim 2.5s linear infinite;
    background-size: 200%;
}
.reveal{
    /* background-color: aqua; */
    overflow: hidden;
    position: relative;
}
@keyframes grad-anim {
    to{
       background-position: 200%;
    }    
   }

.hero #svtext{
    display: flex;
    align-items: center;
    gap: 2vw;
    position: absolute;
    top: 35%;
    left: 17%;
   
}

.hero #svtext h1{
  
    transform: translateY(110%);

}

.landing .port{
    position: absolute;
    color: #D5D5DA;
    font-weight: 900;
    font-size: 1.5vw;
    /* left: 50%; */
    text-align: center;
    display: inline-block;
    width: 100%;
    bottom: 2%;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#page-1-svg path{
    fill: transparent;
    stroke: white;
    stroke-width: 0.7;
    stroke-dasharray: 1500px;
    stroke-dashoffset: 1500px; 
    animation: tA 5s ease-in-out forwards 7s;
    

}

@keyframes tA {
50%{
    fill: transparent;
}
  100% {
        stroke-dashoffset: 0;
        fill: white;
        transition: all ease-in 0.5s;
    }
    
}

#arr{
    position: absolute;
    color: white;
    bottom: 2%;
    left: 1%;
    font-size: 30px;
}

#arr2{
    position: absolute;
    color: white;
    bottom: 2%;
    right: 1%;
    font-size: 30px;
}



.reveal p{
    color: white;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    bottom: 20%;
    right: 0;
    font-size: 1.2vw;
    font-weight: 700;
}

.cursor{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #D5D5DA;
    position: fixed;
    z-index: 99;
    /* mix-blend-mode: multiply    ; */
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: #D5D5DA;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 999;
   
    filter: blur(5px);
}

.page-2{
    min-height: 100vh;
    background-color: #151515;
    
    padding-top: 4vw;
    padding-left: 3vw;
    position: relative;
}


/* .about-heading h2{
    color: white;
    font-family: Mic;
    font-size: 6vw;
    text-transform: uppercase;
} */

.about-bottom {
    margin-top: 5vw;
    height: 60vh;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}

.about-bottom .left{
    width: 45%;
    
    margin-left: 4vw;
    color: #D5D5DA;
    
    font-family: neuer;
    font-weight: 100;
    font-size: 1.4vw;
    letter-spacing: 1px;
    position: relative;
    margin-top: 3vw;
    overflow: hidden;
}

/* .about-bottom .left::after{
    content: "";
    width: 110%;
    height: 50%;
    background-color: #119269;
    position: absolute;
    top: 65%;
    left: -5%;
    filter: blur(5px);
    border-radius: 50%;
} */

.about-bottom .left p{
    text-align: justify;
    text-justify: auto;
    font-family: "Absans";
    font-weight: 100;
    position: relative;
    z-index: 99;
}

.about-bottom .right{
    width: 50%;
    background-color: #151515;
    height: 60vh;
}

.about-bottom .left span{
    /* background-color: black; */
    color: #D5D5DA;
    font-family: italian;
    font-size: 3vw;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 4vw;
}

.about-bottom .left #devansh{
    font-size: 3.8vw;
    font-weight: 700;
    color: #14CF93;
    -webkit-background-clip: text;
}


.about-bottom .left #first-line{
    font-family: "Absans";

}

.about-bottom .left #comma{
    font-size: 2.5vw;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.about-bottom .right{
    /* position: relative; */
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* .about-bottom .right #devansh{
   position: absolute; 
   top: 15%
} */

#pg-2-svg path{
    fill: transparent;
    stroke: white;
    stroke-width: 0.7;
    stroke-dasharray: 1500px;
    stroke-dashoffset: 1500px; 
}

.about-bottom .right .img{
    /* display: none; */
    width: 40vh;
    height: 45vh;
    filter: grayscale();
    position: relative;
    z-index: 999;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
    border-radius: 50%;
    background: url(https://media.licdn.com/dms/image/v2/D5603AQH81DD9ybhbLQ/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1727622090031?e=1747267200&v=beta&t=1E57Hd6OMh8J2_nqwDfLd61gajPgAEu-mYG7S3e9anc);
    background-size: cover;
    background-position: top;
    
}



.about-bottom .right .img:hover{
    filter: grayscale(0);
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.about-bottom .right .second{
    width: 42vh;
    height: 47vh;
    background-image: conic-gradient(from  var(--angle) ,transparent 70%, white);
    position: absolute;
    border-radius: 50%;
    filter: blur(5px);
    opacity: 0.75;
    animation: border 3s linear  infinite  ;
    overflow: hidden; 
}

@keyframes border{
    from{
        --angle : 0deg
    }
    to{
        --angle : 360deg;
    }
}

.page-3{
    height: 100vh;
    background-color: #151515;
}

.page-3 h2{
    color: white;
    font-size: 40vw;
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1vw;
    font-weight: 900;
    cursor: pointer;
    position: relative;
    z-index: 99;
}

/* .page-2 .object{
    width: 150vw;
    height: 35vw;
    background-color: #119269;
    border-radius: 50%;
    position: absolute;
    bottom: -25%;
    filter: blur(15px);
    left: -20%;
    z-index: 1;
} */


.page-4{
    min-height: 100vh;
    background-color: #151515;
    padding: 0 5vw;
    transition: background-color cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

.page-4 .project{
    width: 90%;
    height: 80vh;
    background-color: #B4B5BE;
    border-radius: 50px;
    margin-top: 1vw;
    overflow: hidden;
    
}

.page-4 .project img{
    width: 100%;
    object-fit: contain;
    object-position: left;
    border-radius: 50px;
    transition: filter cubic-bezier(0.19, 1, 0.22, 1) 2s;
    /* scale: 0.8; */
}



.page-4 .project-title h2{
    color: #14CF93;
    font-size: 4vw;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    /* letter-spacing: .15vw; */
    margin-top: 6vw;
    display: list-item;
    margin-left: 4vw;
    transform: translate(-40%, 115px);
    clip-path: polygon(0 0, 100% 2%, 100% 100%, 0% 100%);
}

#f1{
    transform: translateX(10%);
}

.char{
    transform: translateY(115px);
    transition: transform .5s;
}

 #ss{
    background-color: #EFEAE3;
}

 #mlp{
    background-color: #151515;
}

#cu{
    background-color: black;
}

.page-4 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#pg-4-svg path{
    fill: transparent;
    stroke: white;
    stroke-width: 0.7;
    stroke-dasharray: 1500px;
    stroke-dashoffset: 1500px; 
}

.prosur{
    position: fixed;
    width: 17vw;
    top: 0;
    left: 0;
    z-index: 999999;
}

.prosur>div{
    pointer-events: none;
    opacity: 0;
    position: absolute;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}

.prosur .prow{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: .7vw;
}

.prow .pcr{
    width: 2vw;
    height: 2vw;
    border: 2px solid white;
    border-radius: 50%;
}

.prow .pcap{
    text-transform: uppercase;
    font-family: neued;
    letter-spacing: 1px;
    padding: .7vw 3vw;
    border-radius: 100px;
    background-color: #fff;
}

.elem{
    width: 100%;
    position: relative;
}

.elem img{
    width: 100%;
    opacity: 0;
    animation: the 4s linear infinite;
    position: absolute;
    border-radius: 15px;
}

.elem img:nth-child(2){
    animation-delay: 1s;
}

.elem img:nth-child(3){
    animation-delay: 2s;
}

.elem img:nth-child(4){
    animation-delay: 3s;
}


@keyframes the {
    0% {
        opacity: 1;
    }
    25%{
        opacity: 1;
    }
    26%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }

} 

.page-6{
    height: 100vh;
    background-color: #151515;
    background-image: radial-gradient(circle at bottom right ,#14CF93 10% , #151515 );
}

.cont-head{
    padding: 2vw 3vw;
}

.conti{
    height: 70vh;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vw ;
}

.contlef{
    height: 100%;
    width: 30%;
    /* background-color: blue; */
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    transform: translateX(15%);
}



.socials{
    width: 100%;
    height: 13%;
    background-color: azure;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0vw 2vw;
    font-size: 1.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

.socials i{
    font-size: 35px;
}

.socials a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

.contrig{
    height: 100%;
    width: 60%;
    /* background-color: blueviolet; */
    padding: 0vw 5vw;
}

.contrig form{
    width: 100%;
    
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form .btn{
    text-transform: uppercase;
    margin-top: 20px ;
    padding: 1vw 2vw;
    font-size: 18px;
    border-radius: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    border: 0;
    transition: translateY cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

.contlef .socials:nth-child(1):hover{
    background-color: #14CF93;
    cursor: pointer;
    transform: translateY(-5px);
}

.contlef .socials:nth-child(2):hover{
    background-color: #eb6969;
    cursor: pointer;
    transform: translateY(-5px);
}

.contlef .socials:nth-child(3):hover{
    background-color: #0A66C2;
    cursor: pointer;
    transform: translateY(-5px);
    color: aliceblue;
}

.contlef .socials:nth-child(3):hover a{
    color: aliceblue;
}

.contlef .socials:nth-child(4):hover{
    background-color: #7636C9;
    cursor: pointer;
    transform: translateY(-5px);
    color: aliceblue;
}

.contlef .socials:nth-child(4):hover a{
    color: aliceblue;
}

.contlef .socials:nth-child(5):hover{
    background-color: #36A1F7;
    cursor: pointer;
    transform: translateY(-5px);
    color: aliceblue;
}

.contlef .socials:nth-child(5):hover a{
    color: aliceblue;
}

.contlef .socials:nth-child(6):hover{
    background-color: #2C2E35;
    cursor: pointer;
    transform: translateY(-5px);
    color: aliceblue;
}

.contlef .socials:nth-child(6):hover a{
    color: aliceblue;
}

form .btn:hover{
    background-color: #ff004f;
    color: white;
    transform: translateY(10px);
}

#pg-6-svg path{
    fill: transparent;
    stroke: white;
    stroke-width: 0.7;
    stroke-dasharray: 1500px;
    stroke-dashoffset: 1500px; 
}

.page-5{
    overflow-x: hidden;
    height: 100vh;
    background-color: #151515;
    padding-top: 2vw;
    background-image: radial-gradient(circle at bottom center, #14CF93 10%, #151515 30%);
}

#ski-hea{
    margin-left: 3vw;
}

.skill-container{
    height: 65vh;
    width: 100%;
    margin-top: 2.5vw;
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    transform: translateX(4%);
    padding: 2vw 20vw;
    cursor: pointer;
}

.ski{
    height: 180px;
    width: 160px;
    /* border: 1px solid black; */
    background-color: #2f3133;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: transform cubic-bezier(0.19, 1, 0.22, 1)2s, background-color cubic-bezier(0.19, 1, 0.22, 1) 2s;
    
}
.ski:hover {
    transform: translateY(-10%);
    box-shadow: 0 6px 10px rgba(255, 253, 253, 0.404);
    background-color: rgb(68, 233, 206);
  }

  .ski:hover h4{
    color: black;
  }

.skill-icon img{
    width: 100px;
    height: 100px;
}

#css img{
    height: 115px;
}
#c-h h4{
    transform: translateY(-7px);
    /* background-color: #151515; */
}

.ski h4{
    text-transform: uppercase;
    font-size: 24px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #D5D5DA;
}

#j-i img{
    height: 115px;
}

#js h4{
    transform: translateY(-7px);
    /* background-color: #151515; */
}

#gsap img{
    transform: translateX(-15px);
}

#pg-5-svg path{
    fill: transparent;
    stroke: white;
    stroke-width: 0.7;
    stroke-dasharray: 1500px;
    stroke-dashoffset: 1500px; 
}